@import "../../shared.scss";

.About {
  @include TextPages;
}

#image-about {
  width: 100%;
  height: 300px;
  background-attachment: fixed;
  background-position-y: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: purple;
  background-blend-mode: screen;
  background-image: url("https://images.unsplash.com/photo-1552793494-111afe03d0ca?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}