@import "../../shared.scss";

.StudyCase {
  @include TextPages;

  h3 {
    padding: 1rem 30%;
  }

  p {
    padding: 0.5rem 30%;
  }

  img {
    width: 500px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 10%;
  }
}