.Navbar  {
  font-family: sans-serif;
  padding: 1% 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  a:hover {
    color: plum;
    font-weight: normal;;
  }
}