html, body {
	height: 100%;
	margin: 0;
  padding: 0;
}

.dark {
  font-family: sans-serif;
  color: #eee;
  background-color: #333;
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
  min-height: 100vh;

  #image-home, #image-about, #image-works {
    background-color: rebeccapurple;
    background-blend-mode: difference;
  }

  a {
    color: #bcabcc;
  }
}

.light {
  font-family: sans-serif;
  color: #333;
  background-color: whitesmoke;
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
  min-height: 100vh;
}

@mixin TextPages {
  text-align: center;
  padding-bottom: 6%;

  h2, h3 {
    padding: 1rem 20%;
  }
  
  p {
    padding: 0.5rem 20%;
    line-height: 1.9;
  }
}